body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:244px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:59px;
  width:484px;
  height:243px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:72px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:480px;
  word-wrap:break-word;
}
