body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:581px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:580px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:271px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:1200px;
  height:270px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:150px;
  width:380px;
  height:170px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:150px;
  width:380px;
  height:170px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:150px;
  width:380px;
  height:170px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34 {
  position:absolute;
  left:10px;
  top:346px;
  touch-action:pan-y;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
  background-image:none;
}
#u34_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:170px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:376px;
  word-wrap:break-word;
}
#u34_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
  visibility:hidden;
  background-image:none;
}
#u34_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:170px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:376px;
  word-wrap:break-word;
}
#u34_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
  visibility:hidden;
  background-image:none;
}
#u34_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:171px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:170px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:376px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:41px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:415px;
  width:16px;
  height:40px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:41px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:415px;
  width:16px;
  height:40px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:20px;
  width:140px;
  height:33px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:69px;
  height:39px;
  color:#FFFFFF;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:20px;
  width:480px;
  height:38px;
}
#u45_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:39px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
  color:#FFFFFF;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_img.mouseDown {
}
#u47.mouseDown {
}
#u47_img.selected {
}
#u47.selected {
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:39px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:38px;
  color:#FFFFFF;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u48_img.mouseDown {
}
#u48.mouseDown {
}
#u48_img.selected {
}
#u48.selected {
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:39px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:160px;
  height:38px;
  color:#FFFFFF;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u49_img.mouseDown {
}
#u49.mouseDown {
}
#u49_img.selected {
}
#u49.selected {
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:160px;
  height:90px;
  visibility:hidden;
}
#u50_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  color:#FFFFFF;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u52_img.mouseDown {
}
#u52.mouseDown {
}
#u52_img.selected {
}
#u52.selected {
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:30px;
  color:#FFFFFF;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_img.mouseDown {
}
#u53.mouseDown {
}
#u53_img.selected {
}
#u53.selected {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:30px;
  color:#FFFFFF;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u54_img.mouseDown {
}
#u54.mouseDown {
}
#u54_img.selected {
}
#u54.selected {
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:54px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:649px;
  width:184px;
  height:53px;
  font-size:20px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
