.title_1{
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
}
.title_2{
	text-align: left;
	font-family: Arial,  sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.title_3{
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.text   {
	font-family:  Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.text_b{
	font-family:  Arial, sans-serif;
	font-size: 14px;
    font-weight: bold;
}
.text_i{
	font-family:  Arial, sans-serif;
	font-size: 14px;
    font-style: italic;
}

.pic {
    font-family:  Arial, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	font-style: italic;
}
.pic_i {
	font-family:  Arial, sans-serif; 
	font-size: 12px;
	font-style: italic;	
	text-align: left;
	font-weight: lighter;
}

.note {
	font-family:  Arial, sans-serif;
	font-size: 14px;
    font-style: italic;
}
.listing {
	font-family:  "Courier New", sans-serif;
	font-size: 12px;
	font-weight: normal;
}
li {
	font-family:  Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	}
.menu {
	font-family:  Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left : 15px;
}
.small {
	font-family:  Arial, sans-serif;
	font-size: 10px;
}
.small_b {
	font-family:  Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}